@import '../../utils/common.scss';

.product {
	&__loader-container {
		display: flex;
		justify-content: center;
		margin: toRem(50) 0;
	}
	&__loader {
		font-size: 100px;
		border-color: $mainColor;
	}
	&__navigation {
		background-color: $lightSandColor;
		@include adaptiveValue(
			padding-top,
			38,
			20,
			0,
			$containerWidth,
			$mobileWidth
		);
		@include adaptiveValue(
			padding-bottom,
			38,
			20,
			0,
			$containerWidth,
			$mobileWidth
		);
	}

	&__tabs-container {
		border-top: 1px solid $greyColor;
		border-bottom: 1px solid $greyColor;
		@include adaptiveValue(padding-top, 48, 25, 0, $containerWidth, $mobileWidth);
		@include adaptiveValue(padding-bottom, 65, 30, 0, $containerWidth, $mobileWidth);
	}
}

.product-tabs {
	&__description {
		white-space: pre-wrap;
		color: $greyColor;
		@include adaptiveValue(padding-left, 107, 0, 0, $containerWidth, $mobileWidth);
		@include adaptiveValue(padding-right, 107, 0, 0, $containerWidth, $mobileWidth);
	
	}
}