@import '../../../utils/common.scss';

.password-input {
	display: flex;
   flex-direction: column;

	// .password-input__label
	&__label {
		font-weight: 500;
		font-size: toRem(16);
		color: #000;
		margin-bottom: toRem(10);

		@media (min-width: $mobile) {
			margin-bottom: toRem(20);
		}
	}

	&__wrapper {
      display: flex;
      align-items: stretch;
      gap: em(15, 24);
      justify-content: space-between;
		border: toRem(1) solid $greyColor;
		border-radius: em(10);
		font-size: toRem(18);
      padding: 0 0 0 em(12, 24);
      transition: border-color 0.3s;

		@media (min-width: $mobileSmall) {
			font-size: toRem(20);
		}
		@media (min-width: $tablet) {
			font-size: toRem(24);
		}

		@media (any-hover: hover){
			&:hover{
				border-color: $darkGreyColor;
			}
		}

      &:has(.password-input__input:focus, .password-input__input:focus-visible, .password-input__input:focus-within) {
         border-color: $goldColor;
      }
	}

	// .password-input__show-button
	&__show-button {
      flex: 0 0 em(40, 24);
      width: em(40, 24);
		transition: color 0.3s;

		&::before{
			display: inline-block;
			padding: toRem(4);
			border: toRem(1) solid transparent;
			border-radius: 50%;
			transition: border-color 0.3s;
		}

		&:focus-visible {
			&::before{
				border-color: #000;
			}
			outline: 0;
		}

		@media (any-hover: hover){
			&:hover{
				color: $goldColor;
			}
		}
	}

	// .password-input__input
	&__input {
      flex: 1 1 auto;
      width: 100%;
      padding: em(10) 0;
      
      &:focus, &:focus-visible, &:focus-within {
         outline: none;
      }
	}
}
